# resource-nolimit.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: resource-nolimit
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resource-nolimit
  template:
    metadata:
      labels:
        app: resource-nolimit
    spec:
      containers:
        - name: stress
          # 리눅스 stress 도구가 포함된 이미지.
          # 메모리/CPU 부하를 인위적으로 발생시키기 위해 사용한다.
          # 여기서는 메모리를 많이 사용하도록 하여 OOMKilled 상황을 재현한다.
          image: polinux/stress
          # 컨테이너가 실행할 실제 프로그램을 지정한다.
          # 이미지 안에 포함된 'stress'라는 부하 발생 프로그램을 실행하겠다는 의미이다.
          command: ["stress"]
          # --vm 1 : VM 워커 1개 실행
          # --vm-bytes 256M : 메모리 256MB를 강제로 점유
          # --vm-hang 1 : 메모리 점유한 채 대기
          args: ["--vm", "1", "--vm-bytes", "256M", "--vm-hang", "1"]
